/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Inter Font */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Buttons */

.button {
  display: inline-block;
}

/* Button Color */

/* Grey */
.button-gray-25 {
  color: #FCFCFD;
}

.button-gray-50 {
  color: #F9FAFB;
}

.button-gray-100 {
  color: F2F4F7;
}

.button-gray-200 {
  color: #E4E7EC;
}

.button-gray-300 {
  color: #D0D5DD;
}

.button-gray-400 {
  color: #98A2B3;
}

.button-gray-500 {
  color: #667085;
}

.button-gray-600 {
  color: #475467;
}

.button-gray-700 {
  color: #344054;
}

.button-gray-800 {
  color: #1D2939;
}

.button-gray-900 {
  color: #101828;
}

/* Error */

.button-error-25 {
  color: #FFFBFA;
}

.button-error-50 {
  color: #FEF3F2;
}

.button-error-100 {
  color: #FEE4E2;
}

.button-error-200 {
  color: #FECDCA;
}

.button-error-300 {
  color: #FDA29B;
}

.button-error-400 {
  color: #F97066;
}

.button-error-500 {
  color: #F04438;
}

.button-error-600 {
  color: #D92D20;
}

.button-error-700 {
  color: #B42318;
}

.button-error-800 {
  color: #912018;
}

.button-error-900 {
  color: #7A271A;
}

/* Warning */

.button-warning-25 {
  color: #FFFCF5;
}

.button-warning-50 {
  color: #FFFAEB;
}

.button-warning-100 {
  color: #FEF0C7;
}

.button-warning-200 {
  color: #FEDF89;
}

.button-warning-300 {
  color: #FEC84B;
}

.button-warning-400 {
  color: #FDB022;
}

.button-warning-500 {
  color: #F79009;
}

.button-warning-600 {
  color: #DC6803;
}

.button-warning-700 {
  color: #B54708;
}

.button-warning-800 {
  color: #93370D;
}

.button-warning-900 {
  color: #7A2E0E;
}

/* Success */

.button-success-25 {
  color: #F6FEF9;

.button-success-50 {
  color: #ECFDF3;

.button-success-100 {
  color: #D1FADF;

.button-success-200 {
  color: #A6F4C5;

.button-success-300 {
  color: #6CE9A6;

.button-success-400 {
  color: #32D583;

.button-success-500 {
  color: #12B76A;

.button-success-600 {
  color: #039855;

.button-success-700 {
  color: #027A48;

.button-success-800 {
  color: #05603A;

/* Font Sizes */

.text-display-2xl {
  font-size: 72px;
}

.text-display-xl {
  font-size: 60px;
}

.text-display-lg {
  font-size: 48px;
}

.text-display-md {
  font-size: 36px;
}

.text-display-sm {
  font-size: 30px;
}

.text-display-xs {
  font-size: 24px;
}

.text-xl {
  font-size: 20px;
}

.text-lg {
  font-size: 18px;
}

.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

/* Font Colours */

/* Grey */
.text-gray-25 {
  color: #FCFCFD;
}

.text-gray-50 {
  color: #F9FAFB;
}

.text-gray-100 {
  color: F2F4F7;
}

.text-gray-200 {
  color: #E4E7EC;
}

.text-gray-300 {
  color: #D0D5DD;
}

.text-gray-400 {
  color: #98A2B3;
}

.text-gray-500 {
  color: #667085;
}

.text-gray-600 {
  color: #475467;
}

.text-gray-700 {
  color: #344054;
}

.text-gray-800 {
  color: #1D2939;
}

.text-gray-900 {
  color: #101828;
}

/* Error */

.text-error-25 {
  color: #FFFBFA;
}

.text-error-50 {
  color: #FEF3F2;
}

.text-error-100 {
  color: #FEE4E2;
}

.text-error-200 {
  color: #FECDCA;
}

.text-error-300 {
  color: #FDA29B;
}

.text-error-400 {
  color: #F97066;
}

.text-error-500 {
  color: #F04438;
}

.text-error-600 {
  color: #D92D20;
}

.text-error-700 {
  color: #B42318;
}

.text-error-800 {
  color: #912018;
}

.text-error-900 {
  color: #7A271A;
}

/* Warning */

.text-warning-25 {
  color: #FFFCF5;
}

.text-warning-50 {
  color: #FFFAEB;
}

.text-warning-100 {
  color: #FEF0C7;
}

.text-warning-200 {
  color: #FEDF89;
}

.text-warning-300 {
  color: #FEC84B;
}

.text-warning-400 {
  color: #FDB022;
}

.text-warning-500 {
  color: #F79009;
}

.text-warning-600 {
  color: #DC6803;
}

.text-warning-700 {
  color: #B54708;
}

.text-warning-800 {
  color: #93370D;
}

.text-warning-900 {
  color: #7A2E0E;
}

/* Success */

.text-success-25 {
  color: #F6FEF9;

.text-success-50 {
  color: #ECFDF3;

.text-success-100 {
  color: #D1FADF;

.text-success-200 {
  color: #A6F4C5;

.text-success-300 {
  color: #6CE9A6;

.text-success-400 {
  color: #32D583;

.text-success-500 {
  color: #12B76A;

.text-success-600 {
  color: #039855;

.text-success-700 {
  color: #027A48;

.text-success-800 {
  color: #05603A;
